<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista Peliculas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
<link th:href="@{css/lista.css}" rel="stylesheet" />
</head>

<body>

	<div th:insert="fragments/fragMenu :: menu"></div>

	<div class="container">
		<div th:insert="fragments/msgko :: msgko"></div>
	</div>

	<div class="container">
		<div th:insert="fragments/msgok :: msgok"></div>
	</div>


	<div>
	
	
		<table class="table table-hover table-dark" >
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Direccion</th>
					<th scope="col">Fecha de Compra</th>
					<th scope="col">Importe</th>
					<th scope="col">Editar</th>
					<th scope="col">Años</th>
					<th scope="col">Meses</th>
					<th scope="col">Rentabilidad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inmueble: ${listaInmuebles}">
					<th scope="row" th:text="${inmueble.id}"></th>
					<td th:text="${inmueble.direccion}"></td>
					<td th:text="${inmueble.fechacomprainmueble}"></td>
					<td th:text="${inmueble.importecomprainmueble}"></td>
					<td>
					<form th:action="@{'prevModif/'+ ${inmueble.id}}" >
					<input type="submit" value="  Editar "
						class="btn btn btn-sm btn-primary" style="margin: 10px" />
					</form>
					</td>
					<td>
					<form th:action="@{'prevModif/'+ ${inmueble.id}}" >
					<input type="submit" value="  Años "
						class="btn btn btn-sm btn-primary" style="margin: 10px" />
					</form>
					</td>
					<td>
					<form th:action="@{'prevModif/'+ ${inmueble.id}}" >
					<input type="submit" value="  Meses "
						class="btn btn btn-sm btn-primary" style="margin: 10px" />
					</form>
					</td>
					<td>
					<form th:action="@{'prevModif/'+ ${inmueble.id}}" >
					<input type="submit" value="  Rentabilidad "
						class="btn btn btn-sm btn-primary" style="margin: 10px" />
					</form>
					</td>
				</tr>				
			</tbody>
		</table>

		
		<nav th:replace="fragments/paginator-nav :: paginator"></nav>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>

</html>